html,body{
    background-color: rgb(253, 255, 123);
}
.header{
    background-color: yellow;
    display:flex;
    justify-content:space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(253, 255, 123);
}
.footer{
    display:flex;
    justify-content: flex-start;
}
p,h1,h2{
    text-align: center;
}
.item{
    align-items: center;
}